.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgb(81, 81, 153), rgb(167, 152, 152));
    color: #FFF;
}

.container form h1{
    font-size: 2.3em;
    margin-bottom: 1em;
}

.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    padding: 20px;
    height: 25vh;
    border: #302b2b solid 3px;
}

.container form label {
    font-size: 1.2em;
    
}